.contacto {
    margin-left: 5% ;
}

.comentarios {
    margin-left: 4rem;
    font-weight: bold;
}

.boton-enviar {
    background-color: $pinkTxt;
    border: none;
}

#color-telefono {
    color: $pinkTxt;
}