
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

a {
	text-decoration: none;
}
.subtitulos {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
    font-weight: 800;
}

.letra-chica {
	font-weight:600;
   
}


// header
 
header {

    .t228__right_descr {
        padding-right: 40px;
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
        font-size: 13px;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
    }

    .color-telefono {
        color: $pinkTxt;
     }

     .justify-content-center-1 {
        justify-content: center;
    }

}

// footer


#fondo-dos {
    background-color: $purpleBackground;
}

.color-footer {
    color: $redes;
}

.letra-footer {
    font-weight: 700;
}

