@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

.subtitulos {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 800;
}

.letra-chica {
  font-weight: 600;
}

header .t228__right_descr {
  padding-right: 40px;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 13px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .color-telefono {
  color: rgb(185, 12, 119);
}
header .justify-content-center-1 {
  justify-content: center;
}

#fondo-dos {
  background-color: #C86FC9;
}

.color-footer {
  color: white;
}

.letra-footer {
  font-weight: 700;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagen-1 {
  width: 350px;
  height: 350px;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

.contenedor-imagen-1 {
  display: flex;
  position: relative;
}
.contenedor-imagen-1 h2 {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #f0d6f0;
}
.contenedor-imagen-1 p {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.contenedor-imagen-1:hover img {
  opacity: 0.5;
}
.contenedor-imagen-1:hover p {
  opacity: 1;
}

.container p {
  display: flex;
  position: relative;
  top: 30%;
  margin-bottom: 100px;
  justify-self: center;
  text-align: justify;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 350px;
  position: relative;
  height: 0;
  width: 100%;
  margin-bottom: 60px;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.horario {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.dia {
  background-color: #E3A8D8;
  padding: 10px;
  text-align: center;
}

.hora {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

.lunes {
  grid-column: 1;
}

.martes {
  grid-column: 2;
}

.miercoles {
  grid-column: 3;
}

.jueves {
  grid-column: 4;
}

.viernes {
  grid-column: 5;
}

.sabado {
  grid-column: 6;
}

.domingo {
  grid-column: 7;
}

.imagenes-servicios {
  height: 100%;
}

.justify-text-card {
  text-align: justify;
}

.contacto {
  margin-left: 5%;
}

.comentarios {
  margin-left: 4rem;
  font-weight: bold;
}

.boton-enviar {
  background-color: rgb(185, 12, 119);
  border: none;
}

#color-telefono {
  color: rgb(185, 12, 119);
}

.texto-sobre-mi {
  text-align: justify;
}

#img-sobre-mi-1 {
  padding-top: 9rem;
}

#img-sobre-mi-2 {
  padding-top: 2rem;
}

@media only screen and (max-width: 950px) {
  .justify-text-card {
    text-align: left;
  }
  .contacto {
    text-align: center;
    margin: 0;
  }
  .comentarios {
    margin: 0;
    margin-bottom: 2rem;
  }
  #img-sobre-mi-1 {
    display: none !important;
  }
  #img-sobre-mi-2 {
    padding-top: 11rem;
  }
}
@media only screen and (max-width: 912px) {
  header .t228__right_descr {
    display: none;
  }
  header .justify-content-center-1 {
    justify-content: end;
  }
  .map-responsive {
    width: 100%;
    height: 350px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .horario {
    display: none;
  }
  #img-sobre-mi-2 {
    padding-top: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .horario-mobile {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  footer {
    text-align: center;
  }
}
@media only screen and (max-width: 290px) {
  .imagen-1 {
    width: 250px;
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
